<%# Shared organization form used by new/edit. %>
<%= form_with(model: @organization, local: true) do |form| %>
  <% if @organization.errors.any? %>
    <div class="org-flash alert">
      <strong>Could not save organization:</strong>
      <ul>
        <% @organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="org-form-row">
    <%= form.label :name, "Organization name" %>
    <%= form.text_field :name, required: true, autofocus: true %>
  </div>

  <div class="org-actions">
    <%= form.submit class: "org-button primary" %>
    <%= link_to "Cancel", organizations_path, class: "org-button" %>
  </div>
<% end %>
